<div class="container mt-4">
    <!-- Back Button -->
    <button type="button" class="btn btn-primary" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Back
    </button>

    <!-- marineDeatails Details Header -->
    <div class="profile-header text-center">
        <h3>Marine Insurance Details (LC)</h3>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">

                <div class="table-row" *ngIf="marineDeatails">
                    <div class="table-cell">
                        <div class="data-row">
                            <strong>Marine Bill No:</strong> <span>{{ marineDeatails.id }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Date:</strong> <span>{{ marineDeatails.date }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Bank Name:</strong> <span>{{ marineDeatails.bankName }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Policy Holder:</strong> <span>{{ marineDeatails.policyholder }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Address:</strong> <span>{{ marineDeatails.address }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Stock Item:</strong> <span>{{ marineDeatails.stockItem }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Sum Insured (USD):</strong> <span>{{ marineDeatails.sumInsuredUsd | currency:'USD ':'symbol'}}</span>
                        </div>
                        <div class="data-row">
                            <strong>USD Rare :</strong> <span>{{ marineDeatails.usdRate | currency:'TK ':'symbol'}}</span>
                        </div>
                        <div class="data-row">
                            <strong>Sum Insured (BDT):</strong> <span>{{ marineDeatails.sumInsured | currency:'TK ':'symbol'}}</span>
                        </div>
                    
                     
                        <div class="data-row">
                            <strong>Voyage From:</strong> <span>Any Port of  {{ marineDeatails.voyageFrom }}</span>
                        </div>
                        <div class="data-row">
                            <strong>Voyage To:</strong> <span>{{ marineDeatails.voyageTo }}</span>
                        </div>

                        <div class="data-row">
                            <strong> Via:</strong> <span>{{ marineDeatails.via }}  Bangladesh</span>
                        </div>

                        <div class="data-row">
                            <strong>Risk Coverage:</strong> <span>{{ marineDeatails.coverage }}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>