    /* Remove borders from all tables */
    table {
        border: none !important;
    }

    th,
    td {
        border: none !important;
    }

    /* Hide print button in print */
    @media print {
        .printbtn {
            display: none;
        }
    }
   
    .contact-info {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .company-name {
        color: #074485;
        font-weight: bold;
    }
    
    .address {
        color: #074485;
        font-size: 1.1em;
    }
    
    .address a {
        color: #074485;
    }
    