

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up / Login Form</title>


</head>

<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="regForm" (ngSubmit)="registerSubmit()">
           <label for="chk" aria-hidden="true">Sign up</label>
           <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your name" required>
           <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
           <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" required>
           <input type="text" id="photo" formControlName="photo" class="form-control" placeholder="Enter photo URL">
           <button>Sign up</button>
         </form>
       </div>

    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email"
          required="">
        <input type="password" id="password" formControlName="password" class="form-control"
          placeholder="Enter your password" required="">
        <button>Login</button>
      </form>
    </div>
  </div>
</body>

</html>