.currency-symbol {
    width: 50px;  /* Adjust width as needed */
    text-align: center;
    font-size: 0.9em; /* Optional: Adjust font size if needed */
  }
  .company-name {
    color: #074485;
    font-weight: bold;
}

.address {
    color: #074485;
    font-size: 1.1em;
}

.address a {
    color: #074485;
}