/* src/app/components/createreceipt/createreceipt.component.css */
.container {
    max-width: 900px;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #00b330;
    border-color: #15b300;
  }
  .form-container {
    border: 2px solid #28a745; /* Change the color and size here */
    border-radius: 10px;        /* Add rounded corners */
    padding: 20px;              /* Add padding inside the form */
}
