/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-size: 14px; /* Adjust font size for compactness */
}

.container {
    padding: 15px;
}

p {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

/* Compact Layout Adjustments */
.container {
    padding: 10px; /* Reduce container padding */
}

.contact-info h2, .address {
    margin: 5px 0; /* Reduce margin */
}

.table {
    width: 100%;
    margin-bottom: 5px; /* Reduce margin between tables */
    background-color: transparent;
}

/* Heading Styles */
.fire-cover-heading {
    font-size: 24px;
    font-weight: bold;
    padding: 10px; /* Reduced padding */
    background-color: #f2f2f2;
    border-bottom: 2px solid #000;
}

/* Company and Address Styles */
.company-name {
    color: #074485;
    font-weight: bold;
}

.address {
    color: #074485;
    font-size: 1.1em;
}

.address a {
    color: #074485;
}

/* Currency Symbol */
.currency-symbol {
    width: 50px;  /* Adjust width */
    text-align: center;
    font-size: 0.9em;
}

/* Print-Specific Styles */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        font-size: 12px;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .company-name, .address {
        font-size: 14px;
    }

    .table, th, td {
        border-collapse: collapse;
        font-size: 12px;
        padding: 5px;
    }

    p {
        margin: 2px 0;
        font-size: 12px;
        page-break-inside: avoid; /* Prevents breaking inside paragraphs */
    }

    /* Hide print button */
    .printbtn {
        display: none;
    }

    /* Page-break avoidance */
    .container, .table {
        page-break-inside: avoid;
    }
}

/* Fine-tuning Elements */
.mb-1 {
    margin-bottom: 0.5rem;
}
