.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 72px;
  }

  /* Sidebar styling */
  #sidebar {
    width: 215px;
    /* Reduced width for smaller sidebar */
    height: 100vh;
    position: fixed;
    top: 56px;
    /* Adjust for navbar height */
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    /* Blue color for sidebar */
    color: #fff;
    /* White text color */
  }

  /* Main content adjustment for sidebar */
  main {
    margin-left: 200px;
    /* Adjust for sidebar width */
    margin-top: 56px;
    /* Adjust for navbar height */
  }

  /* Medium-sized image */
  .img-medium {
    width: 100px;
    height: 100px;
  }

  /* Custom styles for avatar */
  .avatar {
    width: 100px;
    /* Medium size */
    height: 100px;
    /* Medium size */
    border-radius: 50%;
    margin-bottom: 10px;
  }

  /* Sidebar header styling */
  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    padding: 15px;
  }

  /* Custom styles for the card icons */
  .card-icon {
    font-size: 40px;
  }

  /* Action button styling */
  .action-button {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: #fff;
  }

  .action-button:hover {
    background-color: #0056b3;
    color: #fff;
  }

  /* Sidebar and Navbar colors */
  .bg-blue-custom {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    /* Blue color for both sidebar and navbar */
  }

  /* Sidebar link styles */
  #sidebar .nav-link {
    color: #fff;
    /* White text color for links */
    font-size: 1.15rem;
    /* Slightly smaller font size */
    text-decoration: none;
    /* Remove underline from links */
  }

  /* Remove hover effect for all sidebar links */
  #sidebar .nav-link:hover {
    color: #fff;
    /* Keep the color white on hover */
    text-decoration: none;
    /* Prevent underline on hover */
  }

  /* Navbar link styles */
  .navbar-nav .nav-link {
    color: #fff;
    /* White text color for navbar links */
    text-decoration: none;
    /* Remove underline from links */
  }

  .navbar-nav .nav-link:hover {
    color: #fff;
    /* Keep the color white on hover */
    text-decoration: none;
    /* Prevent underline on hover */
  }

  /* Search icon styling */
  .search-icon {
    font-size: 1.25rem;
    /* Adjust size as needed */
  }